<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DBTipo" value="SqlServer"/>
	</appSettings>
	<connectionStrings>
		<add name="SqlServer"
			 connectionString="server=DESKTOP-R1P6HVR;database=LibreriaWEB;user id=Sa; password=Admin123"/>
		<add name="Postgres"
			 connectionString="server=localhost; database=LibreriaWEB; user id=postgres; password=Admin123;"/>
		<add name="Mysql"
			 connectionString="server=localhost;database=LibreriaWEB;port=3306;user id=root;password=;"/>
		<add name="Memoria"
			 connectionString="DBLibreria_DBMemoria"/>
	</connectionStrings>
</configuration>